[submodule "common/FreeRTOS/FreeRTOS-Kernel"]
	path = common/FreeRTOS/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "common/Drivers/stm32h7xx_hal_driver"]
	path = common/Drivers/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "common/USBHost"]
	path = common/USBHost
	url = https://github.com/STMicroelectronics/stm32_mw_usb_host.git
