# Object and build files
*.o
*.ko
*.obj
*.elf
*.map
**/obj/**
**/build/**

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.elf
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin